.navbar{
    /* position: fixed;
    top:0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between; */
    @apply fixed top-0 w-full h-12 p-4 flex justify-between bg-black;
   
}

.logo{
    /* position: fixed;
    left: 20px;
    width: 80px; */
    @apply fixed left-5 w-20;
}

.avatar {
    /* position: fixed;
    right: 20px;
    width: 30px; */
    @apply fixed right-5 w-6;
}